header {
    background-image: url('header-footer.png'); /* Ruta de la imagen */
            background-size: cover; /* Ajusta la imagen para cubrir todo el header */
            background-position: center; /* Centra la imagen */
            height: 100px; /* Ajusta la altura del header */
    background-color: #bfbee6;
    color: #fff;
    display: flex;                  /* Usamos flexbox para distribuir los logos */
    align-items: center;             /* Alinea verticalmente los elementos */
    justify-content: space-between;  /* Distribuye los logos en los extremos */
    padding: 20px;
    position: relative;
}

header .logo {
    max-width: 300px;
}

header .logo-right {
    max-width: 250px;
}

header .logo-center {
    max-width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.form-container, .form-container2, .form-container3 {
    margin: 20px auto; /* Centrado horizontal y espacio arriba/abajo */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Esquinas redondeadas */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1100px; /* Define un ancho máximo para que no se estiren demasiado */
    width: 100%; /* Hace que sea responsive dentro del max-width */
    background-color: #fff; /* Opcional: fondo para visualizar el bloque */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: sombra para destacar */
}


.form-container {
    background-color: #17396a;
}

.form-container2 {
    background-color:  #60cae1;
}

.form-container3 {
    background-color: #eb2275;
}

.form-item {
    text-align: center;
    width: 200px;
}

.form-item .imagen-item {
    max-width: 30%;
    height: auto;
    /* border: 2px solid #ccc; */
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imagen-item-blanco {
    max-width: 30%;
    height: auto;
    /* border: 2px solid #ccc; */
    /*border-radius: 8px;*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

.form-item .imagen-item:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.logo-categoria {
    max-width: 300px; /* Ajusta el tamaño del logo de categoría */
    height: auto;
    margin-bottom: 10px; /* Espaciado inferior para separar del siguiente elemento */
    border-radius: 8px; /* Opcional: esquinas redondeadas */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.logo-categoria:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.form-item p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
}

/* Color de texto para el primer contenedor */
.form-container .form-item p {
    color: #a1a9f1; /* Color específico para el primer container */
}

/* Color de texto para los demás contenedores */
.form-container2 .form-item p,
.form-container3 .form-item p {
    color: #070e50; /* Color original para los otros contenedores */
}

footer {
    /*background-image: url('header-footer.png'); /* Ruta de la imagen */
    /*        background-size: cover; /* Ajusta la imagen para cubrir todo el header */
    /*        background-position: center; /* Centra la imagen */
    /*        height: 200px; /* Ajusta la altura del header */  
    background-color: #bfbee6;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-top: auto; /* Asegura que el footer esté al final */
}

footer .footer-logo {
    max-width: 500%;
    margin-top: 10px;
}

.firma {
    font-size: 10px;   /* Tamaño pequeño de fuente */
    color: #8282f0;    /* Color azul */
    text-align: right; /* Justificado a la derecha */
    margin-right: 20px; /* Espaciado desde el borde derecho */
}

.firma a {
    color: #8282f0;     /* Asegura que el enlace sea azul */
    text-decoration: none; /* Quita el subrayado predeterminado */
}

.firma a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}